{% load socialaccount %}
<html>
  <head>
    <title>Google Authentication with Django</title>
  </head>
  <body>
    {% if user.is_authenticated %}
       <p>Welcome, {{ user.username }} !</p>
       <a target="_black" href="admin">admin</a>
       <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      {% if google_login %}
         <a href="{% provider_login_url 'google' %}">Login with Google</a>
      {% endif %}
    {% endif %}
  </body>
</html>